#id_main .carousel-inner img {
    height: 70vh;
    object-fit: cover;
    filter: grayscale(40%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

.badges {
    text-align: right;
}

#id_certificados img {
    filter: grayscale(10%)
}

#id_footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#id_footer a {
    color: whitesmoke;
}